<footer class="bg-dark text-white">
    <div class="container-fluid">
        <nav class="row">
            <a [routerLink]="''" class="col-3 text-reset  d-flex align-items-center">
                <app-logo></app-logo>
            </a>
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Resource</li>
                <li><a href="#" class="text-reset">Link 1</a></li>
                <li><a href="#" class="text-reset">Link 2</a></li>
                <li><a href="#" class="text-reset">Link 3</a></li>
                <li><a href="#" class="text-reset">Link 4</a></li>
            </ul>
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Resource</li>
                <li><a href="#" class="text-reset">Link 1</a></li>
                <li><a href="#" class="text-reset">Link 2</a></li>
                <li><a href="#" class="text-reset">Link 3</a></li>
                <li><a href="#" class="text-reset">Link 4</a></li>
            </ul>
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Quick links</li>
                <li class="d-flex justify-content-around ">
                    <a href="#" class="text-reset">
                        <fa-icon [icon]="iconoTwitter"></fa-icon>
                    </a>
                    <a href="#" class="text-reset">
                        <fa-icon [icon]="iconoFacebook"></fa-icon>
                    </a>
                    <a href="#" class="text-reset">
                        <fa-icon [icon]="iconoInstagram"></fa-icon>
                    </a>
                    <a href="#" class="text-reset">
                        <fa-icon [icon]="iconoTiktok"></fa-icon>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>